
/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Utility class */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.fl {
    float:left;
    
}

.fr {
    float: right;
}

/* Fine utility class */


.container {
    max-width: 990px;
    margin: 0 auto;
    padding-top: 100px;
}


.layover{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:contain; 
  } 


.first, .second, .third {
    height: 542px;
    position: relative;
}

.main-page{
    padding-bottom: 50px;
}

h5{
    color: black;
    padding: 5px;
    padding-left: 0px ;
    font-family: 'Roboto', sans-serif;
}




.small.img{
    height: 462px;
    background-repeat: no-repeat;
    background-size:contain;    
}


.first {
    width: calc(33.33% - 10px);
    margin-right: 15px;
}

.second {
    width: calc(33.33% - 10px);
    margin-right: 15px;
}
.third {
    width: calc(33.33% - 10px);
}





#one{
    background-image: url(../img/1.webp);
    
}

#two{
     
    background-image: url(../img/2.webp);
    
}

#three{
     
    background-image: url(../img/3.webp );
    
}

#four{
     
    background-image: url(../img/4.webp);
    
}

#five{
     
    background-image: url(../img/5.webp);
    
}

#six{
     
    background-image: url(../img/6.webp );
    
}

/* immagini alternative */

#one .layover{
    background-image: url(../img/1-hover.webp);
display: none;
    
    
    
}

#two .layover{
    background-image: url(../img/2-hover.webp);
    display: none;
    
}

#three .layover{
     
    background-image: url(../img/3-hover.webp );
    display: none;
    
}

#four .layover{
     
    background-image: url(../img/4-hover.webp);
    display: none;
    
}

#five .layover{
     
    background-image: url(../img/5-hover.webp);
    display: none;
    
}

#six .layover{
     
    background-image: url(../img/6-hover.webp);
    display: none;
    
}



#one:hover .layover {
    display:block;
}

#two:hover .layover {
    display:block;
}
#three:hover .layover {
    display:block;
}
#four:hover .layover {
    display:block;
}
#five:hover .layover {
    display:block;
}
#six:hover .layover {
    display:block;
}

#green-bg{
    background-color: rgb(67, 119, 67);
    padding: 10px;
    padding-bottom: 15px;
}


.text{
    padding-top: 10px;
    padding-bottom: 15px;
}

.price{
    padding: 15px 15px 15px 0px;
    font-weight: bold ;
}

.price.red{
    color: red;
}


.etichette{
    display: inline-block;
    position: absolute;
    bottom: 95px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold ;
    color: white;
    font-size:small;
  
  }

  .discount{
      background-color: rgb(255, 0, 76);
      padding: 5px;
  }

  .sostenibilità{
      background-color: teal;
      padding: 5px;
  }

.heart{
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: white;
    text-align: center;
    padding: 5px;
}